.minimal-header{
    position: fixed !important;
    top:0;
    left: 0;

    height:120px;
    min-width: 100%;

    background-color: var(--secondary-color);
 


}
header{
    overflow: hidden;
    clip:rect(auto, auto, auto,auto);
}
header > div{
    position: fixed !important;
}
.header-menu-link {
    display: flex;
    pointer-events: all;
    overflow: hidden;
}
.header-inner-content{
    height: 120px;

    width:92%;
    margin:auto;
    margin-inline: 4%;
    display: flex;
    justify-content: space-between;

    position: fixed;
    top:0;
    left: 0;


}
.header-inner-content .header-logo, .header-inner-content .header-hamburger{
    display: flex;
    align-items: center;
    height: 100%;
}
.header-menu{
    position: fixed;
    bottom:0;
    width:92%;
    height: 100vh;
    margin-inline:4%;
    margin-bottom:5em;
    
    pointer-events: none;
    display: flex;
}
.header-menu > div{
    width: calc(50% - 1%);
}
.header-menu-links{
    position: absolute;
    bottom:0;
}
.header-menu-link{
    margin-top:-20px;
}
.header-menu-links>a:last-child{
    margin-bottom: -10px;
}

.header-menu-link{
    text-decoration: none;
    font-weight:900;

    font-family: var(--font-family);
    font-size: var(--font-size-heading);

    text-transform: uppercase;
    letter-spacing: -0.055em;

    color: var(--primary-color);
    
}
.header-menu-link > a{
    display: flex;
}

.header-menu-subtext{
    transform: translateX(100%);
    margin-inline: 1.8%;
    justify-content: space-between;
    display: flex;
    
}
.header-menu-subtext > div{

    width:31.1%;
    height:100%;
    
}

.header-menu-subtext-links {
    position: absolute;
    bottom:0;
    display: flex;
    flex-direction: column;
    
}


.header-menu-subtext-links > a{
    min-height: 20px;
    inline-size: 150px; 
    position: relative;
    pointer-events: all;
}
.header-menu-subtext-links > a:after{
    content: '';
    position: absolute;
    height:3px;
    width:0%;
    bottom:0;
    left: 0;
    transform: translateY(1px);
    background-color: black;
    transition: all 200ms ease-in-out;
}
.header-menu-subtext-links > a:hover:after{
    width:10%
}
.header-menu-subtext-links > a:hover{
    transform: translateY(-1px);
    transition: all 50ms ease;
}
.header-menu-subtext-links > a:active{
    transform: translateY(0.2px);
    transition: all 50ms ease;
}
.empty-menu-link{
    opacity: 0;
    pointer-events: none !important;
    transition: all 500ms ease;
}
.menu-time{
    transform:translatey(10px);

}
.menu-time > .menu-location{
    opacity: 0;
    transition: all 500ms ease;
    transition-delay: 250ms;
}
.menu-time > .menu-country{
    opacity: 0;
    transition: all 500ms ease;
    transition-delay: 800ms;
}
.menu-time:hover > .menu-location{
    opacity: 1;
}
.menu-time:hover > .menu-country{
    opacity: 1;
}
.menu-location{
    display: inline !important;
}
.menu-country{
    
    display: inline !important;
}
.menu-country{
    padding-right: 3px;
}
.menu-time{
    position:fixed;
    top:0;
    margin-top:130px;
    cursor: pointer;
    pointer-events: all;
}
.menu-time > span{
    display: block;

}
.header-subtext-link > span{
    min-width: 4px;
}
.header-menu-subtext > div > div > a, .menu-time{
    text-decoration: none;
    font-weight:500;
    line-height: 22px;

    font-family: var(--font-family);
    font-size: var(--font-size-base);

    color: var(--primary-color);
}
.menu-time-func{
    margin-bottom:-8px;
    text-transform: uppercase;

}
.colon{
    transition: all 200ms ease;
    display: inline !important;
}
/* Define keyframe animation */
@keyframes infiniteEaseLoop {
    0%, 100% {
        /* Start and end with opacity: 1 */
        opacity: 1;
      }
      50% {
        /* Midway point with opacity: 0.5 */
        opacity: 0;
      }
  }
  
  /* Apply the animation */
  .colon {
    animation: infiniteEaseLoop 1000ms cubic-bezier(0.42, 0, 0.58, 1) infinite;
  }
  .header-subtext-link{
    display: flex;
    overflow: hidden;
  }
