section{
    background-color: var(--secondary-color);
  


}


.page{
    height:calc(300vh + 140px) !important;

}
.page-one, .page-two, .page-three, .page-four, .page-five{
    min-height: 100svh;
}

.page-three > .body{
    z-index: 1001 !important;
    position: relative;
}

.dynamic-video-player{

    background-color: white;
    width:96%;
    margin-right:4%;
    height:100vh;
    display: flex;
    align-items: end;

 
    pointer-events: none;
}
.see-my-work .body{
    padding-bottom: 20px;
}
.mask-image{
    width:calc(68.5vw);
    max-width: calc(100vw - 60px);
    height:calc(100vh - 4svw - 160px);
    object-fit: cover;
    overflow: hidden;
    transform: scale(1.05);
    cursor: none;
    position: relative;
    pointer-events: all;
    object-position: top center;
    aspect-ratio: 1;
    
    transition: all 700ms cubic-bezier(0.76, 0, 0.24, 1) 0s, object-position 0.5s ease 0s;
}
.mask-image-wrap{
    border-radius: 20px;
    overflow: hidden;
    margin-left:-5px;
    position: relative;
    height:calc(95vh - 180px);
    max-height: 100%;
    transition: cubic-bezier(0.76, 0, 0.24, 1) all 700ms;
}
.mask-image-wrap:hover{
    transform: scale(0.99);
}
.mask-image-wrap::before{
    content: '';
    position: absolute;
    transition: all ease 1000ms;
    top:0;
    left:0;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,0) 33%, rgba(0,0,0,1) 100%, rgba(172,50,50,0) 100%);
    filter: blur(2px);
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 1;

  
}
.mask-image-wrap:hover::before{
    opacity: 0.9;
    transform: scale(1.05);

}
.mask-image:hover{
    transform: scale(1.04);
}
.page-three .pin-spacer{
    padding: 0 !important;
}
.mask-mouse-area{
    width: 100%;
    height: calc(100svh - 4vw - 80px);
    min-height: 0px;
    margin-bottom: 4vw;
    align-items: bottom;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    pointer-events: none;
  
}
.see-my-work .body{
    max-width: 16vw;
}
.text-content-layer{
    position: absolute;
    top: 0;

    width:100%;
    background-color: transparent;
    pointer-events: none;
}
.page-one{
    width: 92vw;
    min-height: 90vh;
    width: 92svw;
    margin-inline:4vw;
    height: 90svh;
    background-color: transparent;
    position: relative;
}
.page-one *{
    pointer-events: all;
}
.see-my-work{
    pointer-events: all;
    position: absolute;
    bottom:4vh;

    transition: ease-in-out 400ms all;
    transition-delay: 500ms;

}
.scrolled .see-my-work{
    transition: ease 200ms all !important;
    transform: translateY(10px);
    pointer-events: none;
    opacity: 0;
}

.details{
    font-family: var(--body-family);
    text-transform: uppercase;
    letter-spacing: -1.5px;
    color: white;
    font-size: 20px;
    line-height: 0px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    margin-left: 64px;
    margin-bottom: 56px;
    pointer-events: none;
    opacity: 0;
    transition: all 500ms ease;
    pointer-events: all;
    cursor: none;
    user-select: none;
}

.mask-image-wrap:hover .details{
    opacity: 1;
}

.mask-image-wrap:hover .scroll-notification{
    opacity: 1;

    transition: all 1000ms ease;
    transition-delay: 1000ms;
}
.scroll-notification p{
    max-height: 20px;
    overflow: hidden;
    display: flex;
}
.mask-image-wrap:hover .scroll-notification p span{
    animation: scrollText 3s infinite;
    animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
    animation-delay:2500ms;
}
.scroll-notification p span{
    animation: scrollText 2s infinite;
    animation-delay:10000ms;
    animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}
.scroll-notification p span{
    position: relative;
    margin-inline: 2px;


}
.scroll-notification p span:after{
    content:'scroll';
    position: absolute;
    display: block;
    transform: translateX(0px);
}
.scroll-notification p{
    margin: 0;
}
@keyframes scrollText {
    from   { transform: translateY(0%); }
    to { transform: translateY(-99%); }
  }
.scroll-notification{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin-right: 64px;
    margin-bottom: 56px;
    color: white;
    opacity: 0;
    transition: all 1000ms ease;
    transition-delay: 4300ms;
    pointer-events: all;
    cursor: none;
}
.details-button{
    position: relative;
}
.details-button::after{
    content:'';
    background-image: url(/public/Arrow/Black-Arrow.svg);
    background-position: top center;
    background-size: contain;
    margin-top: 0.18em;
    margin-bottom:-16px;
    right:-20px;
    scale:1.1;
    width:13.9px;
    height:40px;
    position: absolute;
    filter: invert(1);
    transition: 0ms !important;
}
body:has(.home .page-two.visible) .dynamic-video-player-1 .mask-image-wrap .details{
    opacity: 1;  
}
.scrolled .scroll-notification{
    transition: all 1000ms ease !important;
    transition-delay: 250ms !important;
    opacity: 0 !important;
    pointer-events: none;
}
.artist-name{
    display: inline;

}
  .header-toggled .header-hero-cta{
    opacity: 0;
  }
.comma{
    display: inline;
}
.scrolled .home .page-one .primary-button::after, .scrolled:has(.home) .header-hero-cta::after{
    transition-delay: 0ms !important;
    transform: translateY(100%) !important;
}
.max-title{

    transform: translateX(122px) translateY(0px);
    transition: ease 500ms all 0.5s, font-size 500ms ease 0s;
}
.scrolled .max-title{
    transition: ease 200ms all, font-size ease 0ms;
    transition-delay: 0ms;
    transform: translateX(122px) translateY(-10px);
    pointer-events: none;
    opacity: 0;

}
.main-heading-wrap{
    height:160px;
    display: flex;
    align-items: center;
    pointer-events: none;
}
.max-subtitle{
    padding-top: 24px;
    pointer-events: none;
    font-family: var(--body-family);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: -1.5px;
    line-height:20px;
    margin: 0;
    position: fixed;
    pointer-events: all;
    transition: opacity 600ms ease 550ms, transform 400ms ease 0s;
}
.scrolled .max-subtitle{
    pointer-events: none;
    transition-delay: 0ms;
    transition: ease 200ms all 0s;
    transform: translateY(10px);
    transform-origin: left top;
    
    opacity: 0;

}
.page-two{

    height: 100vh;
    width: calc(92svw / 2);
    margin-inline:4vw;
    height: 100svh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-two .body{
    display: block;
}
.page-two > div{
    pointer-events: all;
}
.page-two-row-one{
    margin-bottom:40px;
}
.page-two-row-two{
    margin-bottom:20px;
}
.page-two-row-two > .body{
    line-height: 30px;
}
.page-two-row-three{
    width: 85%;
    margin-bottom:20px;
    display: flex;
    justify-content: space-between;
}
.page-two-row-three > .body{
    width: 242px;
}
.max-location{
    font-size:110px;
}

.page-three{
    height: 100svh;
}
.player-project-name p{
    height: 16px;
    line-height: 16px;
    display: flex;
    margin:0;
    padding:1px;
    overflow: hidden;

}
.player-project-name p span{
    transform: translateY(200%);
    opacity: 0;
}
.mask-image-wrap .player-project-name p span{
    
    transition: 0ms 0.5s;
    transform: translateY(120%);

}
.mask-image-wrap:hover .player-project-name p span{
    transition: ease-in-out 1s all 0.2s, opacity 0.5s;
    opacity: 1;
    transform: translateY(0%);
    
}


.home-project-list > div{
    pointer-events: all;
}

.page-three{
    width: calc(92svw / 2);
    margin-inline: 4vw;
    height: 180svh;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.page-three .primary-button{
    margin-bottom: 80svh;
    margin-top:18px;
    pointer-events: all;

}
.page-three .primary-button::after{

}
.home-project-list{
    position: relative;
    z-index: 0;

}
.home-project-list > .text-reveal-container{
    pointer-events: all;
    transition: 500ms ease all;
    cursor: none;


}
.home-project-list > div, .home-project-list > div > .text-reveal-container{
    width: fit-content;
}
.home-project-list > div{
    transition: 500ms ease all;
}
.prev-hover{

    cursor: none;
    transform: translateX(0.2em);

}
.home-project-list a{
    cursor: none;
}
a{
    color: var(--primary-color);
    text-decoration: none;
}
.dynamic-video-player-5 .mask-mouse-area > a{
    height: inherit !important;
}
.home-project-list > .high-z-index-layer{
    pointer-events: all;
}
.text-reveal-container:has(.born-in){
    margin:0px;
    margin-bottom: 16px;
}
.text-reveal-container > .born-in{
    padding: 0 !important;
}
.page-two-row-one .text-reveal-element{
    width: min-content;
}
.section-title{
    padding:5px;
    margin:-5px;
}
.expanded-section-page-link{
    display: flex;
    overflow: hidden;
    transition-delay: 0ms !important;
}
.page-four{
    width:92svw;
    margin-inline: 4svw;

}
.page-four-top-wrap{
    display: flex;
    justify-content: space-between;
    width: 92svw;
}
.page-four-top-wrap > div{
    width: 32.3%;
}
.page-four-middle-wrap{
    margin-top: 6rem;

}
.page-four-service{
    width: 100%;
    max-height: 120px;
    display: flex;
    justify-content: space-between;
}
.page-four-service .text-reveal-container{
    transition: 500ms ease-out all;
    user-select: none;
}
.page-four-service .text-reveal-container:hover{
    transform: translateX(20px);
}
.my-work-cta .primary-button{
    width: 137px;
    max-height: 33px;
}
.page-four-service > .service-desc{


    width: 22vw;

    transform: translateY(50%);
    transition: 1000ms ease all;


}
.page-four-service-one .service-desc{
    transform: translateY(0px);
}
.page-four-service-two .service-desc{
    transform: translateY(-20px);
}

.page-four-service-three > .service-desc{
    transform: translateY(-30px);
}

.service-img-wrap{
    width: 22vw;
    aspect-ratio: 2 / 1;
    max-height: 200%;
    display: flex;
    align-items: end;

}
.page-four-service > .service-desc img{
    width: 22vw;
    aspect-ratio: 2 / 1;
    max-height: 0px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    transform: scale(0.95);
    transition: 400ms ease-out all;
    

}
.page-four-service .service-desc p{
    opacity: 0;
    transition: 300ms ease all ;
    
}
.page-four-service:has(.title:hover) .service-desc{
    
    z-index: 10;
}
.page-four-service:has(.title:hover) .service-desc img{
    transition: 800ms ease-out all 0.1s;
    transform: scale(1);
    max-height: 200%;
    

}
.page-four-service:has(.title:hover) .service-desc p{
    opacity: 1;
    transition: 500ms ease all 0.4s;
}
body:has(.page-three.visible) .player-project-name .mask-image-wrap{
    transition: none !important;
}
.section-three-wrap{
    height: 100vh;
}


.home:has(.page-three.visible) .dynamic-video-player-1 .mask-image {
    transition: filter 1s ease-out 0s, transform 1s ease-out 0s !important;
    filter: blur(1px);
    transform: scale(1.05);
}
.what-i-do-cta{
    float: right;
    margin-right: 7.6vw;
}
.page-five{
    margin-top:8rem;
    width: 92svw;
    
    margin-inline: 4svw;
    min-height:calc(100vh - 4vw - 120px);
    height:calc(100vh - 4vw - 32px);
    
    display:flex;
    justify-content: space-between;
}
.page-five > div::not(.dynamic-video-player){
    width: 49.2%;
}
.page-five-left{
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 4vw;
}
.page-five > .page-five-right{
    transition: 800ms ease all 500ms;
    width: 40.8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    opacity: 1;
}
.home:has(.page-six.visible) .page-five-right{
    transition: 400ms ease all 0ms;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}
.home:has(.page-six.visible) .mask-image-wrap::before{
    transform: scale(1.4);
}
.page-five-left > img{
    width: 100%;
    height:calc(100vh - 10vw);
    object-fit: cover;
    cursor: none;
}
.home-about-desc{
    display: flex;
    gap: 1.4vw;
}
.home-about-desc .body{
    width: 78%;
    margin-right: 4%;
}
.page-five-right{
    pointer-events: all;
}
.page-five-right .primary-button{
    width: 185px;
    height: 1.2em;
}
.about-reference-wrap{
    position: relative;
    height:350vh;
    margin-top: 15em;
    pointer-events: none;
}
.dynamic-video-player-5 .pin-spacer, .about-reference-wrap .pin-spacer{
    padding:0 !important;
    height: 100vh !important;
}
.about-reference-wrap .dynamic-video-player-5{
    height:calc(100vh - 10vw);
    position: absolute;
}
.dynamic-video-player-5{
    width: 100%;
    background-color: transparent;

}
.dynamic-video-player-5 .mask-mouse-area{
    justify-content: start ;
    align-items: start;
    margin-bottom: 0;
    margin-left: 4vw;
}
.dynamic-video-player-5 .mask-image-wrap{
    margin-left: 0px;
    max-width: 45.4vw;
    height:auto;
    
}
.page-six{
    height: 246vh;
    width: 79svw;
    margin-inline: 10.5svw;
    z-index: 200;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: none;
}
.dynamic-video-player-5 .mask-image{
    max-width: 45.4vw;
    width: 45.4vw;
}
.home-reference-top{
    padding-top:30vh;
}

.home-reference-row{
    margin-bottom: 4rem;
}
.home-reference-top .body{
    margin-bottom: 3rem;
}
.home-reference-row{
    color:white;
}
.home-reference-bottom{
    display: flex;
    justify-content: space-between;
}
.home-reference-bottom-left{
    width: 59%;
}
.home-reference-bottom-right{
    width: 19.6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-reference-row .primary-button{
    filter: invert(1) brightness(2);
    
}
.dynamic-video-player-5 .reference-peace-bg-gradient{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(2,0,36,0) 100%);
    height:200vh;
    width: 100%;
    position: absolute;
    top:0;
    z-index: 15;
}
.dynamic-video-player-5 .mask-image-wrap::before{
    transform: scale(3);
}
.page-four-bottom-wrap{
    margin-top:6rem;
    margin-left:31.1vw;
}
.page-seven{
    height:100vh;
}
.max-title{
    font-size: 6em !important;
}
.see-my-work .body{
    transition: opacity 500ms ease;
}
.page-one, .page-two, .page-three, .page-four, .page-five{
  
}

.page-three .body{
    pointer-events: all;
}
.what-i-do-cta{
    font-size: 18px;
    line-height: 22px;
}
.what-i-do-cta::after{
    width: 16px;
    margin-top:6px;
}
.page-four-top-wrap p{
    margin-top: 0px ;
}
.page-four-top-wrap .body{
    max-width: 210px;
}

.details .primary-button{
    filter: invert(1);
    pointer-events: all;
    display: block;
    line-height: 24px;
    padding-top: 2px;
}
.details .primary-button::before{
    display: none;
}
.details .primary-button::after{

    right:12px;
    width: 14px;
}
.scroll-visible{
    opacity: 1;
}
.scroll-notification p span{
    animation: scrollText 3s infinite;
    animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}
.player-project-name > div > p{
    display: flex;
    flex-direction: column;
}
@keyframes spin {
    from {
        transform-origin: center center !important;
      transform: rotate(0deg);
    }
    to {
        transform-origin: center center !important;
      transform: rotate(100deg);
    }
  }
  


@media only screen and (max-width: 935px) {
    .see-my-work .body{
        opacity: 0;
        pointer-events: none;
    }
    .header-hero-cta{
        opacity: 0;
        pointer-events: none;
    }
}

@media only screen and (max-width: 830px) {
    .see-my-work{
        opacity: 0;
        pointer-events: none;
    }
    .see-my-work button{
        opacity: 0;
        pointer-events: none;
    }
    .header-hero-cta{
        opacity: 0;
    }
    .page-one{
        position: relative;
    }
    .page-one, .page-two, .page-three, .page-four, .page-five{
        transition: 500ms ease all;
        width: 86% !important;
        margin-inline: 7%;
    }
    .page-one{
        filter: invert(1);
        width: 76% !important;
        margin-inline: 12%;
        z-index: 7000;
        position: absolute;
        top:0;
    }
    .small-dynamic-video-player{
        align-items: start;
        padding-top: 0vw !important;
        width: 100vw !important;
        max-width: 100vw !important;
        z-index: 6000;
        background-color: transparent;
    }
    .small-dynamic-video-player .mask-mouse-area{
        transition: padding 500ms ease;
        justify-content: center;
        padding-top: 6vw;
        padding-bottom:6vw;
        background-color: white;
    }
    .scrolled .small-dynamic-video-player .mask-mouse-area{
        padding-bottom: 4vw;
    }
    .small-dynamic-video-player .mask-image-wrap{
        width: 88vw !important;
        height: calc(100vh - 12vw) ;
        max-height: calc(100vh - 12vw) !important;
    }
    .text-content-layer{
        margin-top: 100vh;
    }
    .dynamic-video-player-1 .mask-mouse-area{
        height: auto !important;
    }
    .mask-mouse-area{
        align-items: start;
  
        background-color: transparent !important;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8029805672268908) 100%);
        backdrop-filter: blur(16px);
    }

    body:has(.home) .header-logo-link, body:has(.contact-page) .header-logo-link{
        transform: scale(1.4) translate(-2px,7.5px) rotate(-5deg);
    }
    .max-title{
      
        font-size: 3em !important;
        transform: translateX(60px) translateY(2px);
    }
    .scrolled .max-title{
        transform: translateX(60px) translateY(-10px);
    }
    .max-subtitle{
        padding-top: 12px;
    }
    .scrolled .header-inner-content{
        height:100px !important;
    }
    .scroll-notification p{
        justify-content: end;
        max-height:fit-content;
        margin-top:5px;
        margin-bottom: 0;
    }
 
    .scroll-notification{
        margin-right:10%;
        opacity: 1;
    }
    .details{
        margin-left:10%;
        opacity: 1;
    }
    .player-project-name p span {

        transform: translateY(0%) !important;
    }
    .player-project-name p:last-of-type{
        margin-bottom:16px;
    }
    .mask-image{
        width: 100% !important;
    }
    .text-content-mobile-scrollbar{
        position: absolute;
        width: 5px;
        top: 0;
        right: 6vw;

        height: calc(50vh - 12vw);
        background-color: lightgray;
        border-radius: 5px;
        opacity: 0;
        transition: 500ms ease opacity ;
    }
    .scrolled .text-content-mobile-scrollbar{
        transition: 500ms ease opacity 0.5s;
        opacity: 1;
    }
    .text-content-mobile-scrollbar-thumb{
        height:20%;
        width: 100%;
        background-color: black;
        border-radius: 5px;
        position: absolute;
        bottom:80%;
    }
    body:has(.home) .header-inner-content{
        filter:invert(1);
    }
    .page-four-top-wrap{
        flex-direction: column;
        gap: 2em;
    }
    .page-four-top-wrap-desc{
        display:flex;
        margin-block:5px;
    }
    .page-four-top-wrap > div{
        width: 100%;
    }
    .what-i-do-cta{

        float: left;
    }
    .page-four-service{
        margin-bottom: 5rem;
        flex-direction: column;
        max-height: none;
  
    }
    .text-reveal-container{
        margin-bottom: 0px !important;
    }
    .page-four-service > .service-desc {
        transform: none !important;
    }
    .page-four-service > .service-desc img {
        width: 100% !important;
        transform: none !important;
        margin-block: 10px;
        max-height: none;
    }
    .page-four-service > .text-reveal-container{
        min-height:60px;
        height: fit-content;
    }
    .page-four-service .service-desc{
        width: 100%;
    }
    .page-four-service .service-img-wrap{
        width: 100%;
    }
    .page-four-service .service-desc p {
        opacity: 1 !important;
    }
    .page-five{
        width: 100% !important;
        min-height: none;
        height: 875px;
        margin-top: 0;
    }
    .page-five-right{
        width: 100% !important;
        opacity: 1 !important;
    }
    .dynamic-video-player-5{
        position: absolute;
        margin-top: calc(100vh - 4vw - 32px);
        align-items: start;

    }
    .dynamic-video-player-5 .mask-image, .dynamic-video-player-5 .mask-image-wrap{
        min-width: 100% ;
        min-height: 100% !important;
        height: 100%;
    }
    .about-reference-wrap{
        margin-top:0em;
    }
    .dynamic-video-player-5 .mask-mouse-area{
        margin-top: 4vw;
        margin-inline: 4vw;
        height: auto;
 
    }
    .page-six .home-reference-top{
        margin-top:100vh
    }
}